@font-face {
  font-family: "riderwar"; /* Project id 2647601 */
  src: url("iconfont.woff2?t=1625465262232") format("woff2"),
    url("iconfont.woff?t=1625465262232") format("woff"),
    url("iconfont.ttf?t=1625465262232") format("truetype");
}

.riderwar,
[class^="rw-"] {
  font-family: "riderwar" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rw-xie:before {
  content: "\e7aa";
}

.rw-jz:before {
  content: "\e657";
}

.rw-coins:before {
  content: "\e63f";
}

.rw-xie2:before {
  content: "\e613";
}

.rw-fangyu:before {
  content: "\e700";
}

.rw-hujiazhi1:before {
  content: "\e646";
}

.rw-zhiliao:before {
  content: "\e61d";
}

.rw-nengliang:before {
  content: "\e6ba";
}

.rw-gongji:before {
  content: "\e696";
}

.rw-minjie:before {
  content: "\e70e";
}

.rw-nengliang-s:before {
  content: "\e60c";
}

.rw-exp:before {
  content: "\e615";
}

.rw-nengliang-c:before {
  content: "\e66b";
}

.rw-hujia:before {
  content: "\e631";
}

.rw-xieliang2:before {
  content: "\e614";
}

.rw-nengliang-c2:before {
  content: "\e64b";
}

.rw-suipian:before {
  content: "\e604";
}

.rw-jz2:before {
  content: "\e70b";
}

.rw-dengji:before {
  content: "\e60e";
}

.rw-suipian-s:before {
  content: "\e616";
}

.rw-fangyu1:before {
  content: "\e6a3";
}

.rw-xieliang1:before {
  content: "\e6a4";
}
