@font-face {
  font-family: "faceicon"; /* Project id 2605792 */
  src: url("iconfont.woff2?t=1625119671305") format("woff2"),
    url("iconfont.woff?t=1625119671305") format("woff"),
    url("iconfont.ttf?t=1625119671305") format("truetype");
}

.faceicon,
[class^="face-"] {
  font-family: "faceicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.face-keai:before {
  content: "\e631";
}

.face-jizhi:before {
  content: "\e632";
}

.face-kelian:before {
  content: "\e633";
}

.face-koubi:before {
  content: "\e634";
}

.face-ku:before {
  content: "\e635";
}

.face-liuhanhuaji:before {
  content: "\e636";
}

.face-nanguo:before {
  content: "\e637";
}

.face-naikezui:before {
  content: "\e638";
}

.face-nu:before {
  content: "\e639";
}

.face-piezui:before {
  content: "\e63a";
}

.face-miaomiao:before {
  content: "\e63b";
}

.face-mojinghuaji:before {
  content: "\e63c";
}

.face-qinqin:before {
  content: "\e63d";
}

.face-penxie:before {
  content: "\e63e";
}

.face-ruo:before {
  content: "\e63f";
}

.face-se:before {
  content: "\e640";
}

.face-pen:before {
  content: "\e641";
}

.face-qiang:before {
  content: "\e642";
}

.face-pu:before {
  content: "\e643";
}

.face-shui:before {
  content: "\e644";
}

.face-shounvehuaji:before {
  content: "\e645";
}

.face-tushe:before {
  content: "\e646";
}

.face-tuosai:before {
  content: "\e647";
}

.face-weixiao:before {
  content: "\e648";
}

.face-weiqu:before {
  content: "\e649";
}

.face-wuyu:before {
  content: "\e64a";
}

.face-wozuimei:before {
  content: "\e64b";
}

.face-wunai:before {
  content: "\e64c";
}

.face-wuzuixiao:before {
  content: "\e64d";
}

.face-xiaoyan:before {
  content: "\e64e";
}

.face-wulian:before {
  content: "\e64f";
}

.face-weiweiyixiao:before {
  content: "\e650";
}

.face-xiaoku:before {
  content: "\e651";
}

.face-ye:before {
  content: "\e652";
}

.face-yiwen:before {
  content: "\e653";
}

.face-yinxian:before {
  content: "\e654";
}

.face-zaijian:before {
  content: "\e655";
}

.face-zhoumei:before {
  content: "\e656";
}

.face-qqgoutou:before {
  content: "\e657";
}

.face-COShuaji:before {
  content: "\e658";
}

.face-nb:before {
  content: "\e659";
}

.face-goutou-changcao:before {
  content: "\e65a";
}

.face-106:before {
  content: "\e605";
}

.face-107:before {
  content: "\e606";
}

.face-108:before {
  content: "\e607";
}

.face-1011:before {
  content: "\e608";
}

.face-105:before {
  content: "\e604";
}

.face-1015:before {
  content: "\e609";
}

.face-1014:before {
  content: "\e60a";
}

.face-1013:before {
  content: "\e60b";
}

.face-1020:before {
  content: "\e60c";
}

.face-1017:before {
  content: "\e60d";
}

.face-1010:before {
  content: "\e60e";
}

.face-109:before {
  content: "\e60f";
}

.face-baoquan:before {
  content: "\e610";
}

.face-aoman:before {
  content: "\e611";
}

.face-bishi:before {
  content: "\e612";
}

.face-baiyan:before {
  content: "\e613";
}

.face-1018:before {
  content: "\e614";
}

.face-1019:before {
  content: "\e615";
}

.face-ziya:before {
  content: "\e616";
}

.face-chigua:before {
  content: "\e617";
}

.face-doujiyan-huaji:before {
  content: "\e618";
}

.face-dalian:before {
  content: "\e619";
}

.face-erha-ding:before {
  content: "\e61a";
}

.face-fadai:before {
  content: "\e61b";
}

.face-daku:before {
  content: "\e61c";
}

.face-erha:before {
  content: "\e61d";
}

.face-fahuo:before {
  content: "\e61e";
}

.face-goutou-yuanliang:before {
  content: "\e61f";
}

.face-goutou:before {
  content: "\e620";
}

.face-goutou-hechi:before {
  content: "\e621";
}

.face-haixiu:before {
  content: "\e622";
}

.face-hehe:before {
  content: "\e623";
}

.face-han:before {
  content: "\e624";
}

.face-hecha:before {
  content: "\e625";
}

.face-hahaha:before {
  content: "\e626";
}

.face-heixian:before {
  content: "\e627";
}

.face-goutou-xiaoku:before {
  content: "\e628";
}

.face-hejiu:before {
  content: "\e62a";
}

.face-huanhu:before {
  content: "\e62b";
}

.face-huaji:before {
  content: "\e62d";
}

.face-huoha:before {
  content: "\e62e";
}

.face-huaixiao:before {
  content: "\e62f";
}

.face-jingya:before {
  content: "\e630";
}
