@import "./transition.scss";
@import "./keyframes.scss";
html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.grid-span-2 {
  grid-column-start: span 2;
}
.grid-span-3 {
  grid-column-start: span 3;
}
.grid-span-4 {
  grid-column-start: span 4;
}
.grid-span-5 {
  grid-column-start: span 5;
}
.grid-span-6 {
  grid-column-start: span 6;
}

// color
